body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    /* background-color: skyblue; */
    background-image: url("https://marcomarvin.github.io/ProfessionalWrestlingDictionary/SBA%20School/Sonpage/S.5/FlippyJohn/bg.png");
}
